[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=logging-fstring-interpolation,
        unnecessary-pass,
        missing-module-docstring,
        too-many-instance-attributes,
        fixme,
        invalid-name,
        broad-except,
        too-few-public-methods,
        anomalous-backslash-in-string,
        unnecessary-comprehension,
        too-many-lines,
        too-many-arguments,
        too-many-branches,
        singleton-comparison,
        line-too-long,
        unspecified-encoding,
        too-many-locals,
        too-many-ancestors,
        unnecessary-lambda-assignment,
        too-many-return-statements,
        logging-too-many-args,
        too-many-positional-arguments,
        too-many-statements